extends layout

block content
    div.ui.container
        h1 Heading One
        .ui.top.attached.tabular.menu
            a.item.active(data-tab='first') Colors
            a.item(data-tab='second') Days
            a.item(data-tab='third') Third
        .ui.bottom.attached.tab.segment.active(data-tab='first')
            table.ui.striped.table.selectable
                thead
                    tr
                        th Polish
                        th English
                        th Phonetics
                tbody
                    each datas, i in data
                        if datas.category =='Colors'
                            tr
                                td= datas.polish
                                td= datas.english
                                td= datas.phonetic
        .ui.bottom.attached.tab.segment(data-tab='second')
            table.ui.striped.table.selectable
                thead
                    tr
                        th Polish
                        th English
                        th Phonetics
                tbody
                    each datas, i in data
                        if datas.category =='Days'
                            tr
                                td= datas.polish
                                td= datas.english
                                td= datas.phonetic
            
        .ui.bottom.attached.tab.segment(data-tab='third')
            | Third
